%li{'data-id' => user.user_id, 'data-type' => 'user'}
  = user.user
  
  - if user.admin?
    (admin)
  
  - if show_admin_links
    = link_to 'delete', [user.team, user], method: :delete, remote: true, confirm: 'really delete?'