%h2= @page_title = 'My Teams'

%p
  You are in 
  = pluralize(collection.count, 'Team')

%ul
  = render :collection => collection, :partial => 'team'

%p= link_to 'Create new Team', new_resource_path
