= team_nav resource, :overview

%p This team consists of #{pluralize @team_users.count, 'Member' }:

%ul.no-bullet
  - @team_users.each do |team_user|
    %li
      = fancy_mapping team_user.user
      - if team_user.admin?
        (admin)
