= team_nav resource, :overview

%p This team consists of #{pluralize @team_users.count, 'Member' }:

%ul
  - @team_users.each do |team_user|
    %li
      = link_to team_user.user, team_user.user
      - if team_user.admin?
        (admin)
