- if parent
  = repository_nav parent.repository, :ontologies, disable_actions: true
  = ontology_nav parent, :license_models
- else
  %h1 License Models

= render partial: 'shared/metadata_add', locals: { cls_sym: :license_model, parent: parent }

%table.table
  %thead
    %tr
      %th License Model
      %th Description
      %th URL
      - if !parent && can?(:write, LicenseModel)
        %th Manage
  %tbody
    = render collection
