- @page_title = resource
%h1= fancy_link resource

= render partial: 'shared/metadata_top_show', locals: { cls_sym: :license_model }

%h4 URL
= link_to resource.url, resource.url

%h4 Description
= resource.description
