- if @info[:entries].empty?
  .muted
    This folder is empty
- else
  %table.table.table-condensed.table-hover.file-table{"data-repository" => @repository.path, "data-url" => @url, "data-oid" => @oid}
    %thead
      %tr
        %th{ style: 'width:4%;' } &nbsp;
        %th{ style: 'width:18%;' } File name
        %th{ style: 'width:15%;' } Last modified
        %th{ style: 'width:63%;' } Last commit
    %tbody
      - @info[:entries].each_with_index do |entry, i|
        %tr{"data-id" => i}
          %td{ style: 'text-align: center' }
            - if entry[:type] == :dir
              %i.icon-folder-close
            - else
              %i.icon-file
          %td
            = link_to entry[:name].force_encoding('UTF-8'), fancy_repository_files_path(@repository, basepath(entry[:path]), @oid) #FIXME force_encoding is needed due to errors in rugged

          %td.last-modified.muted 
            -#%i.icon-spinner.icon-spin
          %td.last-commit.muted
            -#%i.icon-spinner.icon-spin
