%p
  This is a mirror of
  %code
    = resource.source_address
  %br

  Last successful synchronisation:
  - if resource.imported_at
    = timestamp resource.imported_at
  - else
    never

  - if resource.state != 'done'
    %br
    %em= resource.state
    - if resource.last_error
      %code= resource.last_error
