= repository_nav resource, :files

= render partial: 'repositories/breadcrumbs'

- case @info[:type]
- when :file_base_ambiguous
  =render partial: 'repositories/files_file_base_ambiguous'
- when :file_base
  =render partial: 'repositories/files_file'
- when :file
  =render partial: 'repositories/files_file'
- when :dir
  =render partial: 'repositories/files_dir'
