%h2= @page_title = 'Repositories'

.col-md-9
  %ul.list-group
    = render collection

.col-md-3
  - if can? :create, Repository
    .pull-right
      = link_to 'Create Repository', :new_repository, class: 'btn btn-primary'
