= repository_nav resource, :overview

%p
  Clone URL:
  %code
    = repository_tree_url(resource, protocol: 'git', port: nil) << '.git'

%h2 Description
%p
  - if resource.description.present?
    =resource.description
  - else
    No description.

%h2 Recent changes
- if resource.recent_changes.empty?
  %p No changes.
- else
  %ul.repository-commits
    - resource.recent_changes.each do |commit|
      = render partial: 'files/commit', locals: { repository: resource, commit: commit }