%%tr
  %td= link_to child.to_s, [child.repository, child]
  %td= link_to child.symbols_count.to_s, [child.repository, child, :symbols]
  %td= link_to child.sentences_count.to_s, [child.repository, child, :sentences]
