%%tr
  %td= link_to child.to_s, [child.repository, child]
  %td= link_to child.entities_count.to_s, [child.repository, child, :entities]
  %td= link_to child.sentences_count.to_s, [child.repository, child, :sentences]
