---
http_interactions:
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/formality_level.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 06 Mar 2015 13:06:11 GMT
      Etag:
      - '"54f9a643-249"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/formality_level.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "Formality Level",
          "description": "A formality level",
          "type": "object",
          "properties": {
            "iri": {
              "description": "The unique identifier for a formality level",
              "type": "string"
            },
            "name": {
              "description": "The name of the formality level",
              "type": "string"
            },
            "description": {
              "description": "A description of the formality level",
              "type": ["string", "null"]
            }
          }
        }
  recorded_at: Fri, 06 Mar 2015 13:20:57 GMT
recorded_with: VCR 2.9.2
