---
http_interactions:
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/license_model.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 26 Mar 2015 10:31:29 GMT
      Etag:
      - '"5513e001-2fa"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/license_model.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "License Model",
          "description": "A license model",
          "type": "object",
          "properties": {
            "iri": {
              "description": "The unique identifier for a license model",
              "type": "string",
              "format": "uri"
            },
            "name": {
              "description": "The name of the license model",
              "type": "string"
            },
            "description": {
              "description": "A description of the license model",
              "type": "string"
            },
            "url": {
              "description": "A URL which should contain documentation of the license model. Is not part of Ontohub",
              "type": "string",
              "format": "uri"
            }
          }
        }
  recorded_at: Sat, 04 Apr 2015 19:36:23 GMT
recorded_with: VCR 2.9.3
