---
http_interactions:
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/license_model.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 27 Feb 2015 14:53:26 GMT
      Etag:
      - '"54f084e6-2cc"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/license_model.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "License Model",
          "description": "A license model",
          "type": "object",
          "properties": {
            "iri": {
              "description": "The unique identifier for a license model",
              "type": "string"
            },
            "name": {
              "description": "The name of the license model",
              "type": "string"
            },
            "description": {
              "description": "A description of the license model",
              "type": "string"
            },
            "url": {
              "description": "A URL which should contain documentation of the license model. Is not part of Ontohub",
              "type": "string"
            }
          }
        }
  recorded_at: Fri, 06 Mar 2015 11:38:17 GMT
recorded_with: VCR 2.9.2
