---
http_interactions:
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/logic.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 26 Mar 2015 10:31:44 GMT
      Etag:
      - '"5513e010-32c"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/logic.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "Logic",
          "description": "A logic as registered with Ontohub",
          "type": "object",
          "properties": {
            "iri": {
              "description": "The unique identifier for the logic",
              "type": "string",
              "format": "uri"
            },
            "name": {
              "description": "The name of the logic",
              "type": "string"
            },
            "description": {
              "description": "Description of the logic",
              "type": "string"
            },
            "standardization_status": {
              "description": "The standardization status of the logic",
              "type": "string"
            },
            "defined_by": {
              "description": "The resource which defined the logic",
              "type": ["string", "null"]
            }
          }
        }
  recorded_at: Sat, 04 Apr 2015 19:35:27 GMT
recorded_with: VCR 2.9.3
