---
http_interactions:
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/mapping.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 06 Mar 2015 20:24:05 GMT
      Etag:
      - '"54fa0ce5-4e6"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/mapping.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "Sentence",
          "description": "A mapping defined by an ontology",
          "type": "object",
          "properties": {
            "iri": {
              "description": "The unique identifier for the mapping",
              "type": "string"
            },
            "name": {
              "description": "The name of the mapping",
              "type": "string"
            },
            "kind": {
              "description": "The kind of mapping",
              "type": "string"
            },
            "theorem": {
              "description": "Denotes whether this mapping created a theorem",
              "type": "boolean"
            },
            "proven": {
              "description": "Denotes whether this mapping is proven",
              "type": "boolean"
            },
            "local": {
              "description": "Denotes whether this mapping is local",
              "type": "boolean"
            },
            "ontology": { "$ref": "references.json#/definitions/ontology" },
            "source_ontology": { "$ref": "references.json#/definitions/ontology" },
            "target_ontology": { "$ref": "references.json#/definitions/ontology" }
          },
          "required": [
            "iri",
            "name",
            "kind",
            "theorem",
            "proven",
            "local",
            "ontology",
            "source_ontology",
            "target_ontology"
          ]
        }
  recorded_at: Mon, 09 Mar 2015 14:37:39 GMT
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/references.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 08 Mar 2015 20:38:01 GMT
      Etag:
      - '"54fcb329-1058"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/references.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "definitions": {
            "repository": {
              "description": "Reference to a repository",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the repository",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the repository",
                  "type": "string"
                }
              }
            },
            "logic": {
              "description": "Reference to a logic",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the logic",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the logic",
                  "type": "string"
                }
              }
            },
            "ontology": {
              "description": "Reference to an ontology",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the ontology",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the ontology",
                  "type": "string"
                }
              }
            },
            "license_model": {
              "description": "Reference to a license model",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the license model",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the license model",
                  "type": "string"
                }
              }
            },
            "formality_level": {
              "description": "Reference to a formality level",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the formality level",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the formality level",
                  "type": "string"
                }
              }
            },
            "ontology": {
              "description": "Reference to an ontology",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the ontology",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the ontology",
                  "type": "string"
                }
              }
            },
            "ontology_type": {
              "description": "Reference to an ontology type",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the ontology type",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the ontology type",
                  "type": "string"
                }
              }
            },
            "ontology_version": {
              "description": "Reference to an ontology-version",
              "type": "object",
              "properties": {
                "number": {
                  "description": "The version number of the version of the ontology",
                  "type": "integer"
                },
                "iri": {
                  "description": "The unique identifier of the ontology-version",
                  "type": "string"
                }
              }
            },
            "mapping": {
              "description": "Reference to a mapping",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the mapping",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the mapping",
                  "type": "string"
                }
              }
            },
            "sentence": {
              "description": "Reference to a sentence",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the sentence",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the sentence",
                  "type": "string"
                }
              }
            },
            "symbol": {
              "description": "Reference to a symbol",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the symbol",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the symbol",
                  "type": "string"
                }
              }
            }
          }
        }
  recorded_at: Mon, 09 Mar 2015 14:37:39 GMT
recorded_with: VCR 2.9.2
