---
http_interactions:
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/ontology_type.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 06 Mar 2015 15:05:10 GMT
      Etag:
      - '"54f9c226-301"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/ontology_type.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "Ontology Type",
          "description": "A specific type of an ontology",
          "type": "object",
          "properties": {
            "iri": {
              "description": "The unique identifier for an ontology type",
              "type": "string"
            },
            "name": {
              "description": "The name of the formality level",
              "type": "string"
            },
            "description": {
              "description": "A description of the formality level",
              "type": ["string", "null"]
            },
            "documentation_url": {
              "description": "A url to specific documentation for this type",
              "type": ["string", "null"]
            }
          },
          "required": [
            "iri", "name"
          ]
        }
  recorded_at: Fri, 06 Mar 2015 15:16:43 GMT
recorded_with: VCR 2.9.2
