---
http_interactions:
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/ontology.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 06 Mar 2015 15:17:51 GMT
      Etag:
      - '"54f9c51f-a97"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/ontology.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "Ontology",
          "description": "An ontology as recorded by Ontohub",
          "type": "object",
          "properties": {
            "iri": {
              "description": "The unique identifier for an ontology",
              "type": "string"
            },
            "name": {
              "description": "The name of the ontology",
              "type": "string"
            },
            "acronym": {
              "description": "Acronym of the name of the ontology",
              "type": ["string", "null"]
            },
            "description": {
              "description": "A short description of the ontology",
              "type": "string"
            },
            "documentation": {
              "description": "Includes a reference (usually a URI) to a documentation resource",
              "type": ["string", "null"]
            },
            "evaluation_state": {
              "description": "The current state of the evaluation of the ontology",
              "type": "string"
            },
            "basepath": {
              "description": "The path to the ontology relative to the git repositories root directory",
              "type": "string"
            },
            "file_extension": {
              "description": "Actual file extension of the ontology file in the repository",
              "type": "string"
            },
            "logic": { "$ref": "references.json#/definitions/logic" },
            "repository": { "$ref": "references.json#/definitions/repository" },
            "parent": {
              "oneOf": [
                { "$ref": "references.json#/definitions/ontology" },
                { "type": "null" }
              ]
            },
            "ontology_type": {
              "oneOf": [
                { "$ref": "references.json#/definitions/ontology_type" },
                { "type": "null" }
              ]
            },
            "current_ontology_version": { "$ref": "references.json#/definitions/ontology_version" },
            "license_models": {
              "type": "array",
              "items": { "$ref": "references.json#/definitions/license_model" }
            },
            "formality_level": {
              "oneOf": [
                { "$ref": "references.json#/definitions/formality_level" },
                { "type": "null" }
              ]
            },
            "ontology_versions": {
              "description": "Reference to all ontology versions of this ontology",
              "type": "string"
            },
            "symbols": {
              "description": "Reference to all symbols of this ontology",
              "type": "string"
            },
            "sentences": {
              "description": "Reference to all sentences of this ontology",
              "type": "string"
            },
            "mappings": {
              "description": "Reference to all mappings defined by this ontology",
              "type": "string"
            }
          },
          "required": [
            "iri",
            "logic",
            "repository",
            "ontology_versions",
            "symbols",
            "sentences",
            "mappings",
            "name",
            "basepath",
            "file_extension"
          ]
        }
  recorded_at: Mon, 09 Mar 2015 14:37:37 GMT
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/references.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 08 Mar 2015 20:38:01 GMT
      Etag:
      - '"54fcb329-1058"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/references.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "definitions": {
            "repository": {
              "description": "Reference to a repository",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the repository",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the repository",
                  "type": "string"
                }
              }
            },
            "logic": {
              "description": "Reference to a logic",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the logic",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the logic",
                  "type": "string"
                }
              }
            },
            "ontology": {
              "description": "Reference to an ontology",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the ontology",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the ontology",
                  "type": "string"
                }
              }
            },
            "license_model": {
              "description": "Reference to a license model",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the license model",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the license model",
                  "type": "string"
                }
              }
            },
            "formality_level": {
       [...]
