---
http_interactions:
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/ontology_type.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 26 Mar 2015 10:32:13 GMT
      Etag:
      - '"5513e02d-32f"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/ontology_type.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "Ontology Type",
          "description": "A specific type of an ontology",
          "type": "object",
          "properties": {
            "iri": {
              "description": "The unique identifier for an ontology type",
              "type": "string",
              "format": "uri"
            },
            "name": {
              "description": "The name of the formality level",
              "type": "string"
            },
            "description": {
              "description": "A description of the formality level",
              "type": ["string", "null"]
            },
            "documentation_url": {
              "description": "A url to specific documentation for this type",
              "type": ["string", "null"],
              "format": "uri"
            }
          },
          "required": [
            "iri", "name"
          ]
        }
  recorded_at: Sat, 04 Apr 2015 19:37:57 GMT
recorded_with: VCR 2.9.3
