---
http_interactions:
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/ontology_version.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 06 Mar 2015 14:51:05 GMT
      Etag:
      - '"54f9bed9-4e5"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/ontology_version.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "Ontology Version",
          "description": "An ontology version of an ontology",
          "type": "object",
          "properties": {
            "iri": {
              "description": "The unique identifier for an ontology version",
              "type": "string"
            },
            "number": {
              "description": "The version number of the version of the ontology",
              "type": "integer"
            },
            "evaluation_state": {
              "description": "The evaluation state of this ontology version",
              "type": "string"
            },
            "commit_oid": {
              "description": "The commit oid of the commit that triggered this ontology version",
              "type": "string"
            },
            "basepath": {
              "description": "The path to the ontology relative to the git repositories root directory",
              "type": "string"
            },
            "file_extension": {
              "description": "Actual file extension of the ontology file in the repository",
              "type": "string"
            },
            "ontology": { "$ref": "references.json#/definitions/ontology" }
          },
          "required": [
            "iri", "number",
            "commit_oid", "evaluation_state",
            "basepath", "file_extension",
            "ontology"
          ]
        }
  recorded_at: Mon, 09 Mar 2015 14:37:43 GMT
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/references.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 08 Mar 2015 20:38:01 GMT
      Etag:
      - '"54fcb329-1058"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/references.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "definitions": {
            "repository": {
              "description": "Reference to a repository",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the repository",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the repository",
                  "type": "string"
                }
              }
            },
            "logic": {
              "description": "Reference to a logic",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the logic",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the logic",
                  "type": "string"
                }
              }
            },
            "ontology": {
              "description": "Reference to an ontology",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the ontology",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the ontology",
                  "type": "string"
                }
              }
            },
            "license_model": {
              "description": "Reference to a license model",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the license model",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the license model",
                  "type": "string"
                }
              }
            },
            "formality_level": {
              "description": "Reference to a formality level",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the formality level",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the formality level",
                  "type": "string"
                }
              }
            },
            "ontology": {
              "description": "Reference to an ontology",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the ontology",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the ontology",
                  "type": "string"
                }
              }
            },
            "ontology_type": {
              "description": "Reference to an ontology type",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the ontology type",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the ontology type",
                  "type": "string"
                }
              }
            },
            "ontology_version": {
              "description": "Reference to an ontology-version",
              "type": "object",
              "properties": {
                "number": {
                  "description": "The version number of the version of the ontology",
                  "type": "integer"
                },
                "iri": {
                  "description": "The unique identifier of the ontology-version",
                  "type": "string"
                }
              }
            },
            "mapping": {
              "description": "Reference to a mapping",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the mapping",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the mapping",
                  "type": "string"
                }
              }
            },
            "sentence": {
              "description": "Reference to a sentence",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the sentence",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the sentence",
                  "type": "string"
                }
              }
            },
            "symbol": {
              "description": "Reference to a symbol",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the symbol",
                  "type": "string"
                },
                "iri": {
                  "description": "The unique identifier of the symbol",
                  "type": "string"
                }
              }
            }
          }
        }
  recorded_at: Mon, 09 Mar 2015 14:37:43 GMT
recorded_with: VCR 2.9.2
