---
http_interactions:
- request:
    method: get
    uri: https://masterthesis.rightsrestricted.com/ontohub/proof_status.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 01 Apr 2015 09:12:04 GMT
      Etag:
      - '"551bb664-323"'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "https://masterthesis.rightsrestricted.com/ontohub/proof_status.json#",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "title": "Proof-Status",
          "description": "proof status of a theorem or a proof attempt",
          "type": "object",
          "properties": {
            "iri": {
              "description": "The unique identifier for the proof status",
              "type": "string",
              "format": "uri"
            },
            "identifier": {
              "description": "The SZS identifier of the proof status",
              "type": "string"
            },
            "name": {
              "description": "The name of the proof status",
              "type": "string"
            },
            "description": {
              "description": "Description of the proof status",
              "type": "string"
            }
          },
          "required": [
            "iri",
            "identifier",
            "name",
            "description"
          ]
        }
  recorded_at: Sat, 04 Apr 2015 19:35:51 GMT
recorded_with: VCR 2.9.3
