%h3 heterogeneous distributed #{Settings.OMS.pluralize}
%h5 with children which use this logic

%ol.latest.ontology-list
  - Ontology.also_distributed_in(resource).each do |ontology|
    %li.ontology-list-item= fancy_link(ontology)
