!!!XML
%rdf:RDF{ |
  'xmlns' => 'http://purl.net/dol/1.0/rdf#', |
  'xmlns:dct' => 'http://purl.org/dc/terms/', |
  'xmlns:dol' => 'http://purl.net/dol/1.0/rdf#', |
  'xmlns:foaf' => 'http://xmlns.com/foaf/0.1/', |
  'xmlns:kind' => 'http://purl.net/dol/symbolKinds/', |
  'xmlns:kindCL' => 'http://purl.net/dol/symbolKinds/CL/', |
  'xmlns:kindOWL2' => 'http://purl.net/dol/symbolKinds/OWL2/', |
  'xmlns:lang' => 'http://purl.net/dol/languages/', |
  'xmlns:langOBO' => 'http://purl.net/dol/languages/OBO/', |
  'xmlns:langOWL2' => 'http://purl.net/dol/languages/OWL2/', |
  'xmlns:latinSyntax' => 'http://latin.omdoc.org/logics/syntax?', |
  'xmlns:latinTPTP' => 'http://latin.omdoc.org/logics/tptp?', |
  'xmlns:log' => 'http://purl.net/dol/logics/', |
  'xmlns:logCL' => 'http://purl.net/dol/logics/CommonLogic/', |
  'xmlns:logOWL2' => 'http://purl.net/dol/logics/OWL2/', |
  'xmlns:logRDF' => 'http://purl.net/dol/logics/RDF/', |
  'xmlns:owl' => 'http://www.w3.org/2002/07/owl#', |
  'xmlns:rdf' => 'http://www.w3.org/1999/02/22-rdf-syntax-ns#', |
  'xmlns:rdfs' => 'http://www.w3.org/2000/01/rdf-schema#', |
  'xmlns:red' => 'http://purl.net/dol/reduction/', |
  'xmlns:reg' => 'http://purl.net/dol/registry', |
  'xmlns:ser' => 'http://purl.net/dol/serializations/', |
  'xmlns:serCL' => 'http://purl.net/dol/serializations/CommonLogic/', |
  'xmlns:serOWL2' => 'http://purl.net/dol/serializations/OWL2/', |
  'xmlns:serRDF' => 'http://purl.net/dol/serializations/RDF/', |
  'xmlns:skos' => 'http://www.w3.org/2004/02/skos/core#', |
  'xmlns:stand' => 'http://purl.net/dol/1.0/standardization#', |
  'xmlns:todo' => 'http://example.org/todo#', |
  'xmlns:trans' => 'http://purl.net/dol/translations/', |
  'xmlns:void' => 'http://rdfs.org/ns/void#', |
  'xmlns:xsd' => 'http://www.w3.org/2001/XMLSchema-datatypes#"', |
  }
  %logic{'rdf:about' => resource.iri}
    %rdfs:label= resource.name
    %skos:prefLabel= resource.name
    %rdfs:comment= resource.description
    %stand:standardizationStatus{'rdf:resource' => resource.standardization_iri}
      = resource.standardization_status
