- if parent
  = repository_nav parent.repository, :ontologies, disable_actions: true
  = ontology_nav parent, :formality_levels
- else
  %h1 Formality Levels

= render partial: 'shared/metadata_add', locals: { cls_sym: :formality_level, parent: parent }

%table.table
  %thead
    %tr
      %th Formality Level Name
      %th Description
      - if !parent && can?(:write, FormalityLevel)
        %th Manage
  %tbody
    = render collection
