- ontology = Ontology.find_by_id(group.value)
%li
  %h3= fancy_link ontology
  %p
    %strong= pluralize group.total, 'Symbol'
    found.
    - if group.hits.count < group.total
      Showing 1 - #{group.hits.count}
  
  %table.entities
    %thead
      %tr
        %th Text
        %th Kind
        %th Name
        %th URI
        %th Range
    %tbody
      = render :collection => group.hits, :partial => 'hit'
