= repository_nav parent, :"URL Maps"

- if can? :create, UrlMap
  .pull-right
    = link_to 'Add URL Map', new_repository_url_map_path(parent), class: 'btn btn-primary'

- if collection.empty?
  %p There are no URL Maps defined for this repository.
- else
  = pagination do
    %table.table.table-condensed.table-hover.url_maps
      %thead
        %tr
          %th.source Source
          %th.symbol
          %th.target Target
          - if can? :edit, UrlMap
            %th.edit Edit
            %th.delete Delete
      %tbody
        = render collection