= repository_nav parent, :"Ontology urls"

.row
  .col-md-6
    %p
      The list below presents mappings from (source) prefixes of ontology IRIs
      in this repository to (target) prefixes of the actual urls where the
      ontologies are located. All iri-prefix url-prefix mappings of this
      repository are displayed below.
  - if can? :write, Repository
    .col-md-6
      .pull-right
        = link_to 'Add URL Map', new_repository_url_map_path(parent), class: 'btn btn-primary'

.row
  .col-md-12
    - if collection.empty?
      %p There are no URL Maps defined for this repository.
    - else
      = pagination do
        %table.table.table-condensed.table-hover.url_maps
          %thead
            %tr
              %th.source Source
              %th.symbol
              %th.target Target
              - if can? :write, Repository
                %th.edit Edit
                %th.delete Delete
          %tbody
            = render collection
