= ontology_nav parent, :ontology_versions

%table
  %thead
    %tr
      %th Commit
      %th Created
      %th Uploaded by
      %th State
      %th Error
      %th
  %tbody
    = render collection.latest
