= ontology_nav parent, 'New ontology version'

= simple_form_for [:ontology, resource] do |f|
  = f.input :raw_file, :as => :file
  = f.button :submit, 'Upload from my computer', disable_with: t(:wait)
