- if parent
  = repository_nav parent.repository, :ontologies, disable_actions: true
  = ontology_nav parent, :tasks
- else
  %h1 Tasks

= render partial: 'shared/metadata_add', locals: { cls_sym: :task, parent: parent }

%table.table
  %thead
    %tr
      %th Task
      %th Description
      - if !parent && can?(:write, Task)
        %th Manage
  %tbody
    = render collection
