- if parent
  = repository_nav parent.repository, :ontologies, disable_actions: true

  = ontology_nav parent, :tasks
  
  %table.table
    %thead
      %tr
        %th Task
        %th Description
    %tbody
      - @tasks.each do |task|
        %tr
          %td= task.name
          %td= task.description
