= repository_nav parent.repository, :ontologies

= ontology_nav @ontology, :sentences

= pagination do
  %table.sentences
    %thead
      %tr
        %th Name
        %th Text
    %tbody
      = render collection
