%table.entities
  %thead
    %tr
      %th Text
      - if @show_name_column 
        %th Name
  %tbody
    - collection.each do |entity|
      %tr
        - if @show_name_column
          %td= entity.text
          %td= entity.name
        - else
          - if entity.display_name
            %td= iri_tooltip(entity, entity.display_name)
          - else 
            %td= name_highlighter(entity)
