= repository_nav parent.repository, :ontologies, disable_actions: true

= ontology_nav parent, :entities

= pagination do
  - unless collection.blank?
    = render :partial => 'list'
  - else
    %h3 No entities found
