%h3 Latest comments
%ol.latest
  - @comments.each do |comment|
    %li
      commented
      = link_to comment.commentable, comment.commentable
      = timestamp comment
      .text
        = truncate comment.text, :length => 100, :seperator => ' '
        = link_to 'read more', commentable_path(comment)
