%button.btn.btn-danger.pull-right{"data-toggle"=>"modal", "data-target"=>"#delete_modal"}
  =t("repository.delete")
.modal.fade#delete_modal{"tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"deleteRepository", "aria-hidden"=>"true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.btn.close{"data-dismiss" => "modal", "aria-hidden"=>"true"}
        =t("delete_repository")
      .modal-body  
        =simple_format t("delete_repository_desc")
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}=t("cancel")
        = link_to t("repository.delete"), (controller_name == "repositories" ? resource : parent), method: :delete, class: 'btn btn-danger'