%button.btn.btn-danger.pull-right{"data-toggle"=>"modal", "data-target"=>"#delete_modal"}Delete Repository
.modal.fade#delete_modal{"tabindex"=>"-1", "role"=>"dialog", "aria-labelledby"=>"deleteRepository", "aria-hidden"=>"true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.btn.close{"data-dismiss" => "modal", "aria-hidden"=>"true"}
        =t("delete_repository")
      .modal-body  
        =simple_format t("delete_repository_desc")
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"} Cancel
        -if controller_name != "repositories"
          = link_to 'Delete Repository', parent, method: :delete, class: 'btn btn-danger'
        -else
          = link_to 'Delete Repository', resource, method: :delete, class: 'btn btn-danger'