%div.jumbotron
  %div.container
    %h1 Ontohub
    %p
      %strong="Open"
      ="- based on open source software"
      %br
      %strong="Flexible"
      ="- combine different logics in the same ontology"
      %br
      %strong="Distributed"
      ="- combine distinct ontologies into a single one"
      %br
      %br
      ="With "
      =Ontology.all.size
      =" ontologies and "
      =Repository.all.size
      =" repositories, continuously growing!"
    %p= link_to 'Learn more', "http://ontohub.blogspot.de",{class: "btn btn-primary btn-lg"}
