.jumbotron
  .row
    .col-md-8
      %h1 Ontohub

      .features
        %p
          %strong Open
          \- based on open source software
        %p
          %strong Flexible
          \- combine different logics in the same ontology
        %p
          %strong Distributed
          \- combine distinct ontologies into a single one

      .numbers
        %p
          With
          = Ontology.count
          ontologies and
          = Repository.count
          repositories, continuously growing!

      %p
        = link_to 'Learn more', 'http://about.ontohub.org', class: 'btn btn-primary btn-lg', :target => "_blank"

    .col-md-4
      = render partial: 'shared/signin_or_signup'
