%div.jumbotron
  %div.container
    %h1 Ontohub
    %p
      %strong="Open"
      ="- have your own copy of our website"
      %br
      %strong="Flexible"
      ="- combine different logics in the same ontology"
      %br
      %strong="Distributed"
      ="- combine distinct ontologies into a single one"
    %p= link_to 'Learn more', "http://ontohub.blogspot.de",{class: "btn btn-primary btn-lg"}
