%nav.navbar.navbar-default.navbar-fixed-bottom{role:'navigation'}
  %div.content
    %ul.nav.navbar-nav
      - Settings.footer.each do |entry|
        %li>
          - if entry.href
            = link_to entry.text, entry.href
          - else
            = entry.text
