%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-collapse', :type => 'button'}
        - 3.times do
          %span.icon-bar
      = link_to Settings.name, :root, :class => 'brand'
      .nav-collapse.collapse
        = render :partial => '/shared/navigation'
        = render :partial => '/shared/session'
