%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    = link_to Settings.name, :root, :class => 'brand'

    = render :partial => '/shared/navigation'
    = render :partial => '/shared/session'
