%header.navbar.navbar-fixed-top
  .navbar-inner
    = link_to 'Ontohub', :root, :class => 'brand'

    = render :partial => '/shared/navigation'
    = render :partial => '/shared/quicksearch'
    = render :partial => '/shared/session'