%h2 Ontologies

= form_tag '', method: :get do
  .input-group
    = text_field_tag :search, params[:search], placeholder: 'Ontology, symbol or logic', class: 'form-control'
    %span.input-group-btn
      %button.btn.btn-primary{type: 'submit'}
        %span.glyphicon.glyphicon-search
