= form_tag :search, :method => :get, :id => 'quicksearch' do
  = text_field_tag :q, nil, :placeholder => 'Search for entities'
  = submit_tag 'Search', :name => nil #, :disable_with => 'Searching ...'