#session
  - if user_signed_in?
    %a{:href => edit_user_registration_path}
      Logged in as
      = current_user
      - if current_user.display_alert?
        %strong !
    = link_to 'Log out', :destroy_user_session, :method => :delete
  - else
    = link_to 'Log in', :new_user_session
    = link_to 'Register', :new_user_registration
