.context-pane
  .panel.panel-default
    .panel-heading
      %h3.panel-title Your Ontologies
    .panel-body
      For storing and seeing your ontologies,
      = link_to('sign in', root_path) + '.'
      No account yet?
      = link_to 'Sign up!', root_path
