#state_infos.well
  .ontology-state
    = state_tag(resource)

    - if resource.state == 'failed' && resource.class.respond_to?(:retry_failed)
      = link_to 'Retry', retry_resource_chain, method: :post, class: 'btn btn-xs btn-primary', data: {disable_with: t(:wait)}
    - elsif resource.state == 'pending'
      .pending_message
        Our servers are currently busy, please come back later.
