/ User's Ontologies
.panel.panel-default
  .panel-heading
    %h3.panel-title= current_user.first_name + "'s Ontologies"
  .panel-body
    - current_user.accessible_ontologies.each do |ontology|
      %div
        %span.glyphicon.glyphicon-hdd
        = link_to ontology.name, ontology
