/ User's Repositories
%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title= current_user.first_name + "'s Repositories"
  %div.panel-body
    - repository_ids = current_user.permissions.where(item_type: "Repository").map{|p| p.item_id }
    - repositories = Repository.where(id: repository_ids)
    - repositories.each do |repository|
      %div
        %span.glyphicon.glyphicon-hdd
        = link_to repository.name, repository

