/ User's Repositories
%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title= current_user.first_name + "'s Repositories"
  %div.panel-body
    - current_user.permissions.each do |permission|
      - if (permission.item_type == "Repository")
        - repository = Repository.find(permission.item_id)
        %div
          %span.glyphicon.glyphicon-hdd
          = link_to repository.name, repository

