%div{role:'presentation',style:'height: 63px'}

- if @content_kind == :ontologies
  = render partial: '/shared/user_ontologies'
- if @content_kind == :symbols
  = render partial: '/shared/user_ontologies'
- if @content_kind == :logics
  = render partial: '/shared/user_ontologies'
- if @content_kind == :repositories
  = render partial: '/shared/user_repositories'
