%div{role:'presentation',style:'height: 63px'}

- if root_path == request.fullpath
  = render partial: '/shared/user_ontologies'

- case params[:controller].to_sym
  - when :repositories
    = render partial: 'shared/user_repositories'
  - when :ontologies, :entities_search, :logics
    = render partial: 'shared/user_ontologies'
