%div{role:'presentation',style:'height: 63px'}

/ User's Repositories
%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title= current_user.first_name + "'s Repositories"
  %div.panel-body
    = '...'

/ User's Teams
%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title= current_user.first_name + "'s Teams"
  %div.panel-body
    = '...'

