/ User's Repositories
%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title= current_user.first_name + "'s Repositories"
  %div.panel-body
    %div
      %span.glyphicon.glyphicon-hdd
      = '...'
    %div
      %span.glyphicon.glyphicon-hdd
      = '...'
    %div
      %span.glyphicon.glyphicon-hdd
      = '...'

