%h3 About Ontohub
%font{:size => 4}
  Ontohub is a repository engine for managing distributed heterogeneous ontologies. The distributed nature enables communities to share and exchange their contributions easily. The heterogeneous nature makes it possible to integrate ontologies written in various ontology languages.
  It supports a wide range of formal logical...
%p
  .section
    %a{:class => 'btn btn-info', :href => 'http://about.ontohub.org'}>Read more

