.hero-unit
  %h2 About Ontohub
  %p
    %small
      Ontohub is a repository engine for managing distributed heterogeneous ontologies.
      The distributed nature enables communities to share and exchange their contributions easily.
      The heterogeneous nature makes it possible to integrate ontologies written in various ontology languages.
      It supports a wide range of formal logical and ontology languages.
  %p
    = link_to 'Learn more', 'http://about.ontohub.org', class: 'btn btn-primary', :target => "_blank"
