= ontology_nav parent, :axioms

%p
  = pluralize(collection.total_count, 'Axiom')

= paginaton collection do
  %table.axioms
    %thead
      %tr
        %th Name
        %th Text
    %tbody
      = render collection
