- if parent
  = repository_nav parent.repository, :ontologies, disable_actions: true

  = ontology_nav parent, :projects
- else
  %h1 Projects

- if can_add? parent, Project
  .pull-right
    = link_to [:new, *resource_chain, :project], class: 'btn btn-default' do
      - if parent
        Add new project to ontology
      - else
        Add project

%table.table
  %thead
    %tr
      %th Project Name
      %th Description
      %th Institution
      %th Contact
      - if !parent
        %th Manage
  %tbody
    = render collection
