- if parent
  = repository_nav parent.repository, :ontologies, disable_actions: true

  = ontology_nav parent, :projects

  -# if can? :create, Project
  - if user_signed_in?
    .pull-right
      = link_to 'Add Project', [:new, :repository, :ontology, :project], class: 'btn btn-default'

  %table.table
    %thead
      %tr
        %th Project Name
        %th Description
        %th Institution
        %th Contact
    %tbody
      = render collection
