- if parent
  = repository_nav parent.repository, :ontologies, disable_actions: true
  = ontology_nav parent, :projects
- else
  %h1 Projects

= render partial: 'shared/metadata_add', locals: { cls_sym: :project, parent: parent }

%table.table
  %thead
    %tr
      %th Project Name
      %th Description
      %th Institution
      %th Contact
      - if !parent && can?(:write, Project)
        %th Manage
  %tbody
    = render collection
