%li{'data-id' => permission.subject_id, 'data-type' => permission.subject_type, 'data-role' => permission.role, 'data-uri' => url_for([permission.item, permission]) }
  
  .functions
    = link_to 'edit',   '#', rel: :edit
    = link_to 'delete', '#', rel: :delete
  
  = permission.subject
  
  (#{permission.role})
