- if @info[:entries].empty?
  .muted
    This folder is empty
- else
  %table.table.table-condensed.table-hover.file-table{'data-id' => repository.path, 'data-path' => path, 'data-oid' => oid, 'data-ajax-path' => fancy_repository_path(repository, path: path, ref: oid, action: :entries_info), 'data-diff-path' => fancy_repository_path(repository, ref: '%s', action: :diff)}
    %tbody
      - @info[:entries].each do |name, entries|
        - entries.each_with_index do |entry, i|
          %tr{"data-id" => entry[:index]}
            - if i == 0
              %td.ontology{rowspan: entries.size}
                - unless entry[:type] == :dir || entry[:ontologies].empty?
                  %ul.ontology-list
                    - entry[:ontologies].each do |ontology|
                      %li
                        = fancy_link ontology
                        - if ontology.state=='failed'
                          %i.icon-bolt{ title: "processing #{ontology.state}" }
            %td.icon
              - if entry[:type] == :dir
                %i.icon-folder-close
              - else
                - if entry[:ontologies].empty?
                  %i.icon-file
                - else
                  %i.glyphicon.glyphicon-file
            %td.name
              = link_to entry[:name].force_encoding('UTF-8'), fancy_repository_path(repository, path: entry[:path], ref: oid) #FIXME force_encoding is needed due to errors in rugged
            %td.last-commit.muted
            %td.last-modified.muted
