- if resource.content.empty?
  .muted
    This folder is empty
- else
  %table.table.table-condensed.table-hover.file-table
    %tbody
      %tr#repository_directories_form_line_prototype
        %td
        %td.icon
          %i.icon-folder-close
        %td{colspan: 3}
          = render partial: 'repository_directories/form', locals: { resource: new_repository_directory }
      - resource.grouped_content.each do |name, entries|
        - entries.each_with_index do |entry, i|
          %tr{"data-id" => entry.index}
            - if i == 0
              %td.ontology{rowspan: entries.size}
                - unless entry.dir? || entry.ontologies.empty?
                  %ul.ontology-list
                    - entry.ontologies.each do |ontology|
                      %li
                        = fancy_link ontology
                        - if ontology.state=='failed'
                          %i.icon-bolt{ title: "processing #{ontology.state}" }
            %td.icon
              - if entry.dir?
                %i.icon-folder-close
              - else
                - if entry.ontologies.empty?
                  %i.icon-file
                - else
                  %i.glyphicon.glyphicon-file
            %td.name
              = render partial: 'link_to_file', locals: { entry: entry }
            %td.last-commit.muted
            %td.last-modified.muted
