= repository_nav repository, :history

%p
  The versions of this repository are maintained by GIT Version Control Software.
  %br
  Below you have access to the history of changes commited to this repository
  %br
  as well as to any particular past version of it.

= render partial: 'repositories/breadcrumbs'

=# paginate @commits

- group_commits(@commits).each do |group| 
  = render partial: 'history_commit_group', locals: { group: group }
