- if sentences.any?
  %ul.sentences-list
    - sentences.each do |sentence|
      - if sentence.is_a?(GeneratedAxiom)
        %li= sentence
      - else
        %li.has-tooltip{data: {toggle: 'tooltip', placement: 'top'}, title: sentence.text}= link_to sentence, locid_for(sentence)
- else
  = t('proof_attempts.show.no_sentences')
