= form_tag '', :method => :get, :class => 'filter ontology form-search' do
  = text_field_tag :search, params[:search], :placeholder => 'Ontology iri or name'
  = submit_tag 'Search ontology', :name => nil, 'data-disable-with' => 'Searching ...', :class => 'btn'
