= form_tag '', :method => :get, :class => 'ontology filter' do
  %span
    = text_field_tag :search, params[:search], :placeholder => 'Search for URI or name'
  = submit_tag 'Search', :name => nil, 'data-disable-with' => 'Searching ...'
