= form_tag '', :method => :get, :class => 'filter ontology form-search' do
  .input-append
    = text_field_tag :search, params[:search], :placeholder => 'Ontology IRI or name', class: 'search-query'
    %button.btn{type: 'submit'} Search ontology
