%h4 Symbols in this ontology
%table.info
  - @groups.each do |group|
    %tr
      %td.numeric= group.count
      %td= link_to (group.count.to_i == 1 ? group.kind : group.kind.pluralize), ontology_entities_path(resource, :kind => group.kind)
