- unless resource.versions.current.nil?
  .btn-group
    %button.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown'}
      Evaluate
      %span.caret
    %ul.dropdown-menu
      - if resource.oops_supported? && !resource.versions.current.try(:request)
        - version = resource.parent ? resource.parent.versions.current : resource.versions.current
        %li= link_to 'design with OOPS!', repository_ontology_ontology_version_oops_request_path(*resource_chain, version), method: 'post'
  
.btn-group
  -if can? :edit, resource
    = link_to 'Edit', [:edit, *resource_chain], class: 'btn btn-default'
