- # lisiting of ontologies count by state
#ontologies-state.well
  %ul
    - parent.ontologies.count_by_state.each do |entry|
      %li
        #{entry.count} #{entry.state}
        - if entry.state == 'failed'
          = link_to 'Retry', [:retry_failed, parent, :ontologies], method: :post, class: 'btn btn-xs btn-primary'
