%h2= @page_title = "Bulk upload ontologies"

%p
  Please paste your ontology URLs into the following text field.
  Currently http:// and https:// is supported as schema.
  You do not need a specific delimiter like newlines. We find all URLs in this field.

%form#bulkupload{:action => repository_ontologies_path(parent, :format => :json)}
  .inputs
    %textarea{:required => true, :placeholder => 'Paste any http:// or https:// URIs in this area.'}
  
  %ul.stats
    %li.created
      %strong.count 0
      created
    %li.failed
      %strong.count 0
      failed
    %li.remaining
      %strong.count ?
      remaining
  
  %fieldset.actions
    .start= submit_tag "Start Upload"
    .stop
      .status
        Uploading
        %span.iri
      .progressbar
      = submit_tag "Cancel Upload"
    %ul.restart.actions
      %li= link_to "Start new bulk upload", repository_ontologies_path(parent)
