= repository_nav parent, :ontologies

%p
  This repository contains
  = pluralize @count, 'Ontology'
  ranked according to the number of comitted changes.
  %br
  You can search for a particular ontology
  by filtering the list or by scannig through it.
  %br
  Once you find the ontology you want,
  you can click on it to view its details.

.col-md-8
  .pull-right
    = link_to 'Upload an ontology file', new_repository_file_path(parent, 'upload_file[path]' => params[:path]), class: 'btn btn-link'
  .clearfix
  #OntologySearch{pagination: 'paginated', role: 'filter'}
