= ontology_nav parent, :metadata

= render partial: '/ontologies/oops_state', locals: {resource: parent}


.metadatable
  %table
    %thead
      %tr
        %th Key
        %th Value
        %th Last editor
        %th Updated
        %th
    %tbody
      = render collection

  - if can? :create, parent.metadata.build
    = render :partial => 'form'
  - else
    %p
      Only owners and editors of this ontology are allowed to edit the metadata.
