= form_for :support, :method => :put, :remote => true, :html => {:class => 'editTemplate'} do |f|
  = f.label "exact: "
  = f.select :exact, options_for_select(["true","false"]), :exact  => "exact"
  = submit_tag "save"