%li{'data-id' => support.logic_id, 'data-uri' => url_for([support.logic, support]) }
  
  .functions
    = link_to 'edit',   '#', rel: :edit
    = link_to 'delete', '#', rel: :delete
  
  = support
  
  - if support.exact
    (exact) 
