.comments
  .actions
    display: inline-block
    vertical-align: middle
  
  form.formtastic
    textarea
      width: 50%
      height: 10em
    
    .label
      display: none
    
    .inline-errors
      margin-left: 0
    
    .actions
      padding-left: 20%