div#graph_content {
  margin: 1em 2em 0 2em;
  background-color: white;
}

div#d3_graph {
}

div#d3_context {
  min-height: 20em;
  max-height: 100%;
}

path.link {
  fill: white;
  /* stroke: #666; */
  stroke: black;
  stroke-width: 2px;
  opacity: 0.5;
  cursor: pointer;
}

path.proven {
  stroke: green;
}

marker#proven {
  fill: green;
}

path.unproven {
  stroke: red;
}

marker#unproven {
  fill: red;
}

path.link:hover {
  stroke-width: 2.5px;
  opacity: 1;
}

path.selected {
  stroke-width: 2.5px;
  opacity: 1;
}

circle {
  fill: #afa;
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

circle:hover {
  fill: #afa;
  stroke: #000;
  stroke-width: 1.5px;
}

g.node.highlight circle {
  stroke: #0f0;
  fill: #0f0;
  stroke-width: 1.5px;
  cursor: pointer;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}

g.node:hover text {
  font: 14px sans-serif;
  font-weight: bold;
  pointer-events: none;
}

g.node.selected circle{
  stroke: #0f0;
  fill: #0f0;
  stroke-width: 1.5px;
  cursor: pointer;
}

ul#node_info {
  list-style-type: none;
}

ul#node_info ul { list-style-type: none; }

ul#node_info li span:first-child {
  font-size: 0.8em;
  font-color: #ccc;
  font-weight: bold;
}

ul#edge_info {
  list-style-type: none;
}

ul#edge_info ul { list-style-type: none; }

ul#edge_info li span:first-child {
  font-size: 0.8em;
  font-color: #ccc;
  font-weight: bold;
}

.center {
  padding: 2em 0 2em 0;
  text-align: center;
}
