@import compass
@import variables

header
  padding: .5em 2em
  +background-image(linear-gradient(lighten($primary-color, 5%), darken($primary-color, 7%)))
  border-bottom: 1px solid darken($primary-color, 11%)
  +text-shadow(rgba(#000, .5) 2px 2px 1px)
  +single-box-shadow
  
  a
    text-decoration: none
    color: lighten($primary-color, 50%)
    +border-radius(10px)
    padding: 6px 10px 4px
    
    strong
      background-color: #600
      font-family: sans-serif
      +border-radius(1em)
      +box-shadow(#fff 0px 0px 6px)
      padding: 2px 8px
    &:hover strong
      background-color: #900
  
  a:hover
    color: lighten($primary-color, 100%)
    //background-color: lighten($primary-color, 10%)
  
  h1
    margin: 0em
    font-weight: normal
    display: inline-block
  
  nav
    &.admin
      border: lighten($primary-color, 50%) 1px solid
      +border-radius(10px)
      padding: .5em
    
    display: inline-block
    ul
      +inline-block-list-container
      > li
        +inline-block-list-item
        margin-right: 1em
