@import compass
@import compass
@import variables

.metadata
  float: right
  
  ul.stats
    
    a
      text-decoration: none
      color: $primary-color
      &:hover
        color: #000
    
    li
      +inline-block
      font-size: .85em
      padding: .5em
    
    strong
      font-size: 2.5em
      display: block
  
  ul.info
    border: 1px solid
    +no-bullet
    margin: 0px
    margin-left: 1em
    padding: .5em
    
    li
      .label
        float: left
        width: 7em