ul.sentences-list
  padding-left: 0
  display: inline
  list-style: none

  li
    display: inline

  li:after
    content: ", "

  li:last-child:after
    content: ""

.proof-attempt-configuration, .proof-attempt-result
  > div
    @extend .col-md-4
    display: inline

.proof-attempt-result > .tactic-script .panel-body > ul
  list-style: none
  padding: 0
  > li > ul
    list-style: none
    padding-left: 2em
