.relationList
  border: 1px solid #ccc
  padding: 1em
  max-width: 400px
  background: #f6f6f6

  form.add

    input.autocomplete
      width: 80%
      border: 1px solid #999
      padding: .5em

  form.editTemplate
    display: none

  form.edit
    border-top: 1px #ccc dashed
    margin-top: .5em
    padding-top: .5em

  > ul
    +no-bullet
    margin: 0 0 1em 0
    padding: 0

    > li
      border: 1px solid #ccc
      padding: .5em
      margin-bottom: .5em
      background: #fff

      .functions
        float: right
        +opacity(.3)
      &:hover .functions
        +opacity(1)
