.file-table
  min-width: 800px

  .icon
    width: 16px

  .name
    min-width: 184px

  .last-commit
    min-width: 440px

    .message
      color: black

  .last-modified
    min-width: 160px
    text-align: right
