- if parent
  = repository_nav parent.repository, :ontologies, disable_actions: true

  = ontology_nav parent, :categories

  This ontology is assigned to the following categories
  %ul.category_list
    - parent.categories.each do |cat|
      %li= link_to cat, cat

- else 
  %h2 Categories
  
  click on one category to see the Ontologies which are in it
  
  .well 
    = render partial: 'categories'
