- if parent
  = repository_nav parent.repository, :ontologies, disable_actions: true

  = ontology_nav parent, :categories

  These ontology is assigned to following Categories
  %ul
    - parent.categories.each do |cat|
      %li= cat.name


- else 
  %h2 Categories
  
  click on one category to see the Ontologies which are in it
  
  .well 
    = render partial: 'categories'
  
