= form_tag '', :method => :get, :class => 'filter form-search' do
  .input-append
    = text_field_tag :email_search, params[:email_search], :placeholder => 'E-Mail address', class: 'search-query'
    %button.btn{type: 'submit'} Show
