= form_tag '', :method => :get, :class => 'filter form-search' do
  = text_field_tag :email_search, params[:email_search], :placeholder => 'E-Mail address'
  = submit_tag 'Show', :name => nil, 'data-disable-with' => 'Searching ...', :class => 'btn'
