%h2=@page_title = 'Users'
= render :partial => 'filter'

%p
  = pluralize collection.total_count, resource_class.to_s
  found

= pagination do
  %table
    %thead
      %th ID
      %th Name
      %th Email
      %th Admin
      %th
    %tbody
      = render collection
