%h2=@page_title = 'Teams'

%p
  = pluralize collection.total_count, resource_class.to_s
  found

= pagination do
  %table
    %thead
      %th Name
      %th Users
      %th
    %tbody
      = render collection
