- @page_title = 'Teams'

%div.col-md-8
  %h2='Teams'
  %p
    = pluralize collection.total_count, resource_class.to_s
    found

  = pagination do
    %table
      %thead
        %th Name
        %th Users
        %th
      %tbody
        = render collection
