%tr
  %td= logic.name
  %td= logic.iri
  %td
    %ul.actions
      %li= link_to 'edit', edit_resource_path(logic)
      %li= link_to 'delete', resource_path(logic), :confirm => 'really delete?', :method => :delete
